* {
    box-sizing: border-box;
    background-color: black;
    color: white;
/*    text-align: center;*/
    font-family: cursive;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}