html {
  width: 100%;
  height: 100%;
}

body {
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    margin: 0;
}

.header {
    position: absolute;
    top: 10%;
    left: 7%;
}
.songTitle {

    font-size: 100px;
    font-family: 'Acme', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

li {
    list-style-type: none;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

img {
    width: 25%;
    padding-left: 40px;
}

.title-container {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(lifeChanges.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.lyric-container {
    text-align: center;
}

.parts {
    text-decoration: underline;
    font-weight: bold;
    padding-top: 60px;
}